.h1 {
	background: red;
	padding: 30px;
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
button {
	padding: 10px;
	margin: 25px;
	background-color: red;
	border: 0;
	cursor: pointer;
}
