.h {
	background-color: black;
	color: white;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.name {
	padding-left: 20px;
	margin-right: 800px;
}
button {
	padding: 10px;
	padding-left: 20px;
	margin: 10px;
	padding-right: 20px;
	border: 0;
	cursor: pointer;
}
