img {
	height: 250px;
	border: 5px;
	border-radius: 10px;
	box-shadow: 5px;
}
.co {
	background: rgb(125, 131, 232);
	color: white;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.con {
	display: flex;
	justify-content: space-around;
}
.pro {
	margin-bottom: 25px;
}
.bt {
	text-align: left;
	margin-left: 25px;
	margin-right: 18px;
}
.dtls {
	text-align: left;
	margin-left: 18px;
	margin-right: 18px;
}
.brdr {
	margin-top: 18px;
	margin-left: 18px;
	margin-right: 18px;
	margin-bottom: 18px;
	border-right: 1px solid black;
}
.ttl {
	text-align: left;
	text-transform: capitalize;
	font-weight: bold;
}
h2 {
	text-transform: uppercase;
}
p {
	font-size: 16px;
}